.header-conteiner {
    display: flex;
    height: 52px;
    padding: var(--spacing-small);
    background-color: var(#cccccc);

}
.header-counter {
    margin-left: auto;
    padding-right: var(--spacing-small) ;
    font-weight: bold;
    cursor: pointer;

}
